<ngx-charts-bar-vertical
                         [results]="graphData"
                         [customColors] ="customColors"
                         [gradient]="gradient"
                         [xAxis]="showXAxis"
                         [yAxis]="showYAxis"
                         [legend]="showLegend"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [showGridLines] ="showGridLines"
                         [showDataLabel] ="showDataLabel"
                         [noBarWhenZero] ="noBarWhenZero"
                         [yAxisTickFormatting] ="axisFormat"
                         (select)="onSelect($event)">
</ngx-charts-bar-vertical>
