.header {
  background-color: transparent;
  box-shadow: none;
  height: 10vh;
  width: 100%;
}
.background,
.background-overlay {
  position: fixed;
  background: transparent;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.main-body {
  width: 90%;
  height: 90vh;
  box-sizing: border-box;
  margin: 0 5% 5%;
  overflow-x: auto;
}

#video {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1360px) {
  .main-body {
    height: 80vh;
  }
}
