<div class="animate__animated animate__fadeIn">
  <nb-card>
    <nb-card-header>
      <div class="logs-header">
        <h4>Warcraft Logs</h4>

        <nb-select
          fullWidth
          placeholder="Raid"
          [(ngModel)]="zone"
          (selectedChange)="changeZone()"
          style="width: 20%"
        >
          <nb-option *ngFor="let z of zones" [value]="z">{{
            z.name
          }}</nb-option>
        </nb-select>

        <div class="metrics">
          <div
            class="metric"
            *ngFor="let m of metrics"
            [ngClass]="{ selected: m == metric }"
            (click)="changeMetric(m)"
          >
            {{ m }}
          </div>
        </div>

        <div class="difficulties">
          <div
            class="difficulty"
            *ngFor="let d of difficulties"
            [ngClass]="{ selected: d == difficulty }"
            (click)="changeDifficulty(d)"
          >
            {{ d.name }}
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-spinner
        bdColor="rgba(51,51,51,0.4)"
        size="medium"
        type="cube-transition"
      >
        <h6>Loading : {{ loading.current }}/{{ loading.max }}</h6>
      </ngx-spinner>

      <table class="display-table logs-table">
        <thead>
          <th>Name</th>
          <th>Average</th>

          <th *ngFor="let h of headers">
            {{ h }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td>
              {{ row.name }}
            </td>
            <td class="{{ getColor(row.average) }}">
              {{ row.average }}
            </td>
            <td
              *ngFor="let p of row.percentiles"
              class="{{ getColor(p.display) }}"
            >
              {{ p.display }}
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
