.logs-header,
.metrics,
.difficulties {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metric,
.difficulty {
  padding: 5px 20px;
  margin: 0 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.selected {
  background-color: var(--color-info-500);
  border-radius: 30px;
}

.logs-table {
  width: 100%;
}
