<div class="animate__animated animate__fadeIn">
  <nb-card>
    <nb-card-header>
      <div class="logs-header">
        <h4>Warcraft Logs</h4>

        <nb-select
          placeholder="Raid"
          [(ngModel)]="zone"
          (selectedChange)="changeZone()"
          class="raid-select"
        >
          <nb-option *ngFor="let z of zones" [value]="z">{{
            z.name
          }}</nb-option>
        </nb-select>

        <div class="mobile-only" style="width: 100%">
          <nb-select
            placeholder="Boss"
            [(ngModel)]="chosenBoss"
            class="raid-select"
          >
            <nb-option *ngFor="let h of headers; let i = index" [value]="i">{{
              h
            }}</nb-option>
          </nb-select>
        </div>

        <div class="metrics">
          <div
            class="metric"
            *ngFor="let m of metrics"
            [ngClass]="{ selected: m == metric }"
            (click)="changeMetric(m)"
          >
            {{ m }}
          </div>
        </div>

        <div class="difficulties">
          <div
            class="difficulty"
            *ngFor="let d of difficulties"
            [ngClass]="{ selected: d == difficulty }"
            (click)="changeDifficulty(d)"
          >
            {{ d.name }}
          </div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ngx-spinner
        bdColor="rgba(51,51,51,0.4)"
        size="medium"
        type="cube-transition"
      >
        <h6>Loading : {{ loading.current }}/{{ loading.max }}</h6>
      </ngx-spinner>

      <div class="desktop-only">
        <table class="display-table logs-table">
          <thead>
            <th>Name</th>
            <th>Average</th>

            <th *ngFor="let h of headers">
              {{ h }}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData">
              <td>
                {{ row.name }}
              </td>
              <td class="{{ getColor(row.average) }}">
                {{ row.average }}
              </td>
              <td *ngFor="let p of row.percentiles">
                <a
                  class="{{ getColor(p.display) }}"
                  target="_blank"
                  href="{{ warcraftLogs.openReportNewTab(p.url) }}"
                >
                  {{ roundPercentile(p.display) }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mobile-only">
        <table class="display-table logs-table">
          <thead>
            <th style="text-align: left">Name</th>
            <th style="text-align: right">Percentile</th>
          </thead>

          <tbody>
            <tr *ngFor="let row of tableData">
              <td style="text-align: left">
                {{ row.name }}
              </td>
              <td style="text-align: right">
                <a
                  class="{{ getColor(row.percentiles[chosenBoss].display) }}"
                  target="_blank"
                  href="{{
                    warcraftLogs.openReportNewTab(
                      row.percentiles[chosenBoss].url
                    )
                  }}"
                >
                  {{ row.percentiles[chosenBoss].display }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>
