@import "../../../themes.scss";

:host {
  width: 100%;
  height: auto;
  display: block;

  .healer {
    color: #5ade6b;
  }

  .melee {
    color: #c7be59;
  }

  .tank {
    color: #4895de;
  }

  .ranged {
    color: #fe8f46;
  }

  .tbc {
    color: #000000;
  }

  .death-knight {
    color: #c41f3b;
  }

  .demon-hunter {
    color: #a330c9;
  }

  .druid {
    color: #ff7d0a;
  }

  .hunter {
    color: #a9d271;
  }

  .mage {
    color: #40c7eb !important;
  }

  .monk {
    color: #00ff96;
  }

  .paladin {
    color: #f58cba;
  }

  .priest {
    color: #ffffff;
  }

  .rogue {
    color: #fff569;
  }

  .warlock {
    color: #8787ed;
  }

  .shaman {
    color: #0070de;
  }

  .warrior {
    color: #c79c6e;
  }
}
