<table class="table display-table" style="width: 100%">
  <thead style="height: 30px" class="card">
    <th>Rank</th>
    <th>Name</th>
    <th>Role</th>
    <th>Class</th>
    <th class="desktop-only">Armory</th>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td class="slot">
        <p>{{ user.rank }}</p>
      </td>

      <td>
        <div *ngIf="user.nickname">
          <p>{{ user.nickname }}</p>
        </div>

        <div *ngIf="!user.nickname">
          <p>{{ user.discord }}</p>
        </div>
      </td>

      <td>
        <p style="color: {{ user.roleColor }}">{{ user.role }}</p>
      </td>
      <td>
        <p style="color:{{ user.classColor }}">{{ user.class }}</p>
      </td>
      <td class="desktop-only">
        <a *ngIf="user.armory" href="{{ user.armory }}" target="_blank">
          <button nbButton status="danger" style="width: 115px">View</button></a
        >
      </td>
    </tr>
  </tbody>
</table>
