<div class="total-section">
  <div class="space-area">
    <nb-card class="card animate__animated animate__fadeInUp">
      <nb-card-header>
        <h4>The Laddon</h4>
      </nb-card-header>
      <nb-card-body style="height: auto;">
        Info regarding the laddon its features and download link will be
        available here when its finished. <br /><br />Idea is to have:
        <ul>
          <li>Note tool</li>
          <li>
            Specific boss mod integration(to avoid wa)
          </li>
          <li>Attendance tracking</li>
          <li>
            Raid countdown, so you always know how long till next raid
          </li>
          <li>
            To-Do-List, see ingame progress of what you need to do.
          </li>
          <li>
            Pot/flask reminder, will alert you if within an hour to raid and you
            dont have flood/flasks/pots etc
          </li>
          <li>Coin reminder</li>
          <li>
            Version checking, so we can see who hasnt updated the addon when
            needed
          </li>
        </ul>
      </nb-card-body>
    </nb-card>

    <nb-card class="card animate__animated animate__fadeInUp">
      <nb-card-header>
        <h4>Weak Auras</h4>
      </nb-card-header>
      <nb-card-body style="height: auto;">
        Will probably use one of my janky weak auras for a boss at somepoint,
        please have this installed.

        <h2>
          <a
            target="_blank"
            href="https://www.curseforge.com/wow/addons/weakauras-2"
            class="warning-text"
            >Weak Auras2
          </a>
        </h2>

        Will include links to useful auras as tier updates.
      </nb-card-body>
    </nb-card>

    <nb-card class="card animate__animated animate__fadeInUp">
      <nb-card-header>
        <h4>DBM/Bigwigs</h4>
      </nb-card-header>
      <nb-card-body style="height: auto;">
        We have no preference on which one you get, just have one of them
        downloaded please

        <h2>
          <a
            target="_blank"
            href="https://www.curseforge.com/wow/addons/big-wigs"
            class="warning-text"
            >Big Wigs
          </a>
        </h2>

        <h2>
          <a
            target="_blank"
            href="https://www.curseforge.com/wow/addons/deadly-boss-mods"
            class="warning-text"
            >DBM
          </a>
        </h2>
      </nb-card-body>
    </nb-card>
  </div>
</div>
