<td>{{ user.discord }}</td>
<td>{{ user.nickname }}</td>
<td>
  <nb-select
    fullWidth
    (selectedChange)="characterSelected()"
    placeholder="Character"
    [(ngModel)]="selectedCharacter"
  >
    <nb-option *ngFor="let character of characters" [value]="character">{{
      character.name
    }}</nb-option>
  </nb-select>
</td>
<td>
  <div *ngIf="selectedCharacter">
    {{ selectedCharacter._class }}
  </div>
</td>
<td>
  <nb-select
    *ngIf="selectedCharacter"
    fullWidth
    (selectedChange)="updateCharacter()"
    placeholder="Role"
    [(ngModel)]="selectedCharacter.role"
  >
    <nb-option
      *ngIf="wowService.filterRoles(selectedCharacter._class).length > 1"
      value="TBC"
      >TBC</nb-option
    >
    <nb-option
      *ngFor="let role of wowService.filterRoles(selectedCharacter._class)"
      [value]="role"
      >{{ role }}</nb-option
    >
  </nb-select>
</td>
<td>
  <nb-checkbox
    *ngIf="selectedCharacter"
    status="success"
    (checkedChange)="toggle($event)"
    [(ngModel)]="isMain"
  ></nb-checkbox>
</td>
