<table class="table display-table" style="width: 100%">
  <thead style="height: 30px" class="card">
    <th class="roster-header" (click)="sortRoster('rankNumber')">Rank</th>
    <th class="roster-header" (click)="sortRoster('nickname')">Name</th>
    <th class="roster-header" (click)="sortRoster('role')">Role</th>
    <th class="roster-header" (click)="sortRoster('class')">Class</th>
    <th class="roster-header" (click)="sortRoster('armory')">Armory</th>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <p>{{ user.rank }}</p>
      </td>

      <td>
        <div *ngIf="user.nickname">
          <p>{{ user.nickname }}</p>
        </div>

        <div *ngIf="!user.nickname">
          <p>{{ user.discord }}</p>
        </div>
      </td>

      <td>
        <p style="color: {{ user.roleColor }}">{{ user.role }}</p>
      </td>
      <td>
        <p style="color:{{ user.classColor }}">{{ user.class }}</p>
      </td>
      <td>
        <a *ngIf="user.armory" href="{{ user.armory }}" target="_blank">
          <button nbButton status="info" class="armory-button">View</button></a
        >
      </td>
    </tr>
  </tbody>
</table>
