:host {
  width: 100%;
  height: auto;

  .armory-button {
    width: 115px;
  }
}

.roster-header {
  cursor: pointer;
}

@media screen and (max-width: 1360px) {
  :host {
    .armory-button {
      width: 80px;
      font-size: 10px;
    }

    td,
    th {
      padding: 20px 5px;
    }

    p,
    th {
      font-size: 10px;
    }
  }
}
