<div class="home-section">
  <h1 class="back-logo">
    LADS <br />
    ON <br />TOUR
  </h1>

  <h1 class="logo animate__animated animate__fadeInRight">
    LADS <br />
    ON TOUR
  </h1>

  <div class="animate__animated animate__fadeInRight">
    <p class="text mobile-font-size">
      Lads on Tour is a smart-casual guild that was founded back at the
      beginning of Legion, with most of the core player base having played
      together since Cataclysm. We are a core team of friends and raiders who
      have decided to make a comeback for Shadowlands with a bit more motivation
      than previously.
    </p>

    <p class="text mobile-font-size">
      The aim is to clear the content as fast as we can in 2 days whilst still
      having fun in the process. We take a big attitude towards playing
      effectively, this involves doing things outside of raid to focus on just
      raiding during raid times. We are also aware that mistakes do happen and
      not every person can perform 100% at all times, all we ask is that you
      don't make the same mistake twice.
    </p>

    <p class="text desktopOnly">
      If this interests you click the apply button here to get started!
    </p>
  </div>

  <div class="animate__animated animate__fadeInUp animate__delay-1s">
    <button
      nbButton
      class="button size-xl-medium"
      style="width: 150px; background-color: #d82c32; border: none"
      status="primary"
      (click)="apply()"
    >
      <span>Apply</span>
    </button>
    <button
      nbButton
      class="button size-xl-medium"
      style="background-color: #63191b; border: none"
      status="primary"
      (click)="apply()"
    >
      <span>></span>
    </button>
  </div>
</div>
