<div class="dashboard-background">
  <nb-layout>
    <nb-layout-header class="dashboard-header">
      <a
        [routerLink]="['user']"
        class="animate__animated animate__fadeInRight desktop-only"
      >
        <h6 *ngIf="username" class="username">
          {{ username }}
        </h6>
      </a>
    </nb-layout-header>

    <nb-layout-column>
      <div *ngIf="loggedIn">
        <app-dashboard-nav></app-dashboard-nav>
      </div>

      <div *ngIf="!loggedIn" class="spaceArea">
        <app-login-page></app-login-page>
      </div>

      <div class="dashboard-body" *ngIf="loggedIn">
        <div style="margin-bottom: 30px; margin-top: 30px">
          <h3
            *ngIf="nickname"
            class="welcome-text animate__animated animate__fadeInLeft"
          >
            Welcome Back, {{ nickname }}
          </h3>
          <p
            *ngIf="classText"
            class="class-text animate__animated animate__fadeInLeft"
          >
            {{ classText }}
          </p>
        </div>
        <router-outlet></router-outlet>
      </div>
    </nb-layout-column>
  </nb-layout>
</div>
