.dashboard-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-basic-color-1);
}

.dashboard-header {
  height: 70px;
  background: var(--background-basic-color-2);
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 50px;
}

.dashboard-body {
  margin-left: 160px;
  box-sizing: border-box;
  padding: 3rem;
  height: calc(100vh - 70px);
  overflow-x: auto;
}

.welcome-text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.class-text {
  margin: 0;
  padding: 0;
  color: grey;
  text-transform: uppercase;
}

.username:hover {
  cursor: pointer;
}

@media screen and (max-width: 1360px) {
  .dashboard-body {
    margin-left: 0;
    padding: 1rem;
    height: calc(90vh - 70px);
  }
}
