<div *ngIf="!loggedIn" class="spaceArea">
  <app-login-page></app-login-page>
</div>

<div *ngIf="loggedIn">
  <div class="container">
    <div class="column animate__animated animate__fadeIn">
      <nb-card class="mb card">
        <nb-card-header>
          <h4>Website Options</h4>
        </nb-card-header>
        <nb-card-body>
          <div class="link-table">
            <table>
              <tr>
                <td>Battle.Net</td>
                <td>
                  <span *ngIf="user.battleNetToken != null" class="success-text"
                    >Linked</span
                  >
                  <span *ngIf="user.battleNetToken == null" class="danger-text"
                    >Not-Linked</span
                  >
                </td>
              </tr>

              <tr>
                <td>Twitch</td>
                <td>
                  <span *ngIf="user.twitchId != null" class="success-text"
                    >Linked</span
                  >
                  <span *ngIf="user.twitchId == null" class="danger-text"
                    >Not-Linked</span
                  >
                </td>
              </tr>
            </table>
          </div>

          <button
            nbButton
            status="danger"
            style="margin-right: 5px; margin-bottom: 5px"
            (click)="loginService.logout()"
          >
            Logout
          </button>

          <button
            nbButton
            status="info"
            style="margin-right: 5px; margin-bottom: 5px"
            (click)="loginService.battleNetLogin()"
          >
            Battle.Net Sync
          </button>

          <button
            nbButton
            class="twitch"
            style="margin-right: 5px; margin-bottom: 5px"
            (click)="twitchService.twitchLogin()"
          >
            Twitch Sync
          </button>
        </nb-card-body>
      </nb-card>

      <nb-card class="card todo">
        <nb-card-header>
          <h4>To Do List</h4>
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li *ngFor="let todo of todoList">
              {{ todo }}
            </li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="column animate__animated animate__fadeIn">
      <app-user [user]="user"></app-user>
    </div>

    <div class="column animate__animated animate__fadeIn">
      <app-character [user]="user" [characters]="characters"></app-character>
    </div>

    <div class="column animate__animated animate__fadeIn">
      <app-raid-info [user]="user"></app-raid-info>
    </div>

    <div class="column animate__animated animate__fadeIn">
      <app-absences [user]="user"></app-absences>
    </div>
    <div class="column animate__animated animate__fadeIn"></div>
  </div>
</div>
