<div *ngIf="!loggedIn" class="spaceArea">
  <app-login-page></app-login-page>
</div>

<div *ngIf="loggedIn" class="applications">
  <div class="app-list animate__animated animate__fadeInLeft">
    <nb-accordion>
      <nb-accordion-item collapsed="false">
        <nb-accordion-item-header>
          Current Applications
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let app of applications.current">
            <button
              nbButton
              status="info"
              class="button"
              (click)="selectApp(app)"
            >
              {{ app.discord }} - {{ app.role }} {{ app.class }}
            </button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <nb-accordion style="margin-top: 20px">
      <nb-accordion-item>
        <nb-accordion-item-header>
          Accepted Applications
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let app of applications.accepted">
            <button
              nbButton
              status="success"
              class="button"
              (click)="selectApp(app)"
            >
              {{ app.discord }} - {{ app.role }} {{ app.class }}
            </button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <nb-accordion style="margin-top: 20px">
      <nb-accordion-item>
        <nb-accordion-item-header>
          Declined Applications
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div *ngFor="let app of applications.declined">
            <button
              nbButton
              class="button"
              status="danger"
              (click)="selectApp(app)"
            >
              {{ app.discord }} - {{ app.role }} {{ app.class }}
            </button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="current-app">
    <nb-card class="animate__animated animate__fadeInRight" *ngIf="app">
      <nb-card-header
        ><h1>{{ app.discord }}</h1>
      </nb-card-header>
      <nb-card-body>
        <div class="app-row">
          <div class="app-column medium-item">
            <h6>Class</h6>
            <div class="info-box">{{ app.class }}</div>
          </div>

          <div class="app-column medium-item">
            <h6>Role</h6>
            <div class="info-box">{{ app.role }}</div>
          </div>
        </div>

        <div class="app-row large-row">
          <div class="app-column small-item">
            <h6>Armory</h6>
            <a href="{{ app.armory }}" target="_blank">
              <button nbButton class="admin-button" status="info">View</button>
            </a>
          </div>

          <div class="app-column small-item">
            <h6>Logs</h6>
            <a href="{{ app.logs }}" target="_blank">
              <button nbButton class="admin-button" status="info">View</button>
            </a>
          </div>

          <div class="app-column small-item">
            <h6>BattleTag</h6>
            <div class="info-box">{{ app.role }}</div>
          </div>

          <div class="app-column small-item">
            <h6>Discord</h6>
            <div class="info-box">{{ app.discord }}</div>
          </div>
        </div>

        <div class="app-row">
          <div class="app-column">
            <h6>About</h6>
            <div class="info-box" style="width: 100%">{{ app.about }}</div>
          </div>
        </div>

        <div class="app-row">
          <div class="app-column">
            <h6>Experience</h6>
            <div class="info-box" style="width: 100%">{{ app.experience }}</div>
          </div>
        </div>

        <div *ngIf="admin">
          <button
            nbButton
            class="admin-button"
            status="success"
            *ngIf="isAppCurrent"
            (click)="applicationsService.adminUpdateApp(app, 'Accepted')"
          >
            Accept
          </button>
          <button
            nbButton
            class="admin-button"
            status="danger"
            *ngIf="isAppCurrent"
            (click)="applicationsService.adminUpdateApp(app, 'Declined')"
          >
            Decline
          </button>

          <button
            nbButton
            class="admin-button"
            status="warning"
            *ngIf="!isAppCurrent"
            (click)="applicationsService.adminUpdateApp(app, 'Sent')"
          >
            Reopen
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
